.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


nav {
  display: flex; /* יש להציג את הקישורים בשורה אחת */
  justify-content: space-between; /* מרווח בין הקישורים לחיפוש */
  align-items: center;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}

ul.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

ul.nav-links li {
  margin-right: 20px;
}

ul.nav-links li a {
  text-decoration: none;
  color: rgb(51, 71, 198);
  font-weight: bold;
}

.search-form {
  display: flex;
  align-items: center;
}

input[type="text"] {
  padding: 8px;
  font-size: 16px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px; /* רווח קטן בין התיבה לכפתור */
}

#Search_button {
  padding: 8px 12px;
  background-color: #0852ef;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#Search_button:hover {
  background-color: #0056b3;
}
