body{
    background: url("/public/photos/background-image.jpg");
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(255, 255, 255, 0.5); /* לבן עם שקיפות */
    
}
.sce-logo {
    opacity: 0.5;
    position: absolute;
    top: 55px;
    width: 150px; /* רוחב מותאם */
    height: auto; /* גובה יחסי */
    display: block; /* מונע רווחים לא רצויים */
    margin: 15px; /* ממרכז את התמונה */  
}

.museum-logo2 {
    opacity: 0.5;
    position: absolute;
    top: 65px;
    right: 15px; /* מעביר את התמונה לצד ימין */
    width: 180px; /* רוחב מותאם */
    height: auto; /* גובה יחסי */
}
#main_title {
    font-family: Arial, sans-serif; 
    text-align: center;
    font-size: 30px;
    margin-top: 95px;
    color: rgb(0, 0, 0);
}

.faq-text {
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}
.faq-text h3 {
    margin-top: 24px;
    margin-bottom: 4px; /* מקטין רווח מתחת לכותרת */
    color: #28164f;
  }
  
  .faq-text h4 {
    margin-top: 0; /* מבטל רווח מיותר מלמעלה */
    margin-bottom: 12px;
    font-weight: normal;
  }
  