body{
    background-image: url('/public/photos/background-image.jpg');
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(255, 255, 255, 0.5); /* לבן עם שקיפות */
}
#main_title {
        
        text-align: center; /* ממרכז את הטקסט */
        font-family: Arial, sans-serif;  
}

.sce-logo {
    opacity: 0.5;
    position: absolute;
    top: 55px;
    width: 150px; /* רוחב מותאם */
    height: auto; /* גובה יחסי */
    display: block; /* מונע רווחים לא רצויים */
    margin: 15px; /* ממרכז את התמונה */  
}
.museum-logo {
    opacity: 0.5;
    position: absolute;
    top: 60px;
    right: 15px; /* מעביר את התמונה לצד ימין */
    width: 100px; /* רוחב מותאם */
    height: auto; /* גובה יחסי */
}
#sub_title {
    text-align: center; /* ממרכז את הטקסט */
    /* font-family: Georgia, sans-serif;   */
}
#upload-button {
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28164f;
    color: rgb(247, 197, 17);
    border: none;
    cursor: pointer;
    margin-top: 20px;
    position: absolute;
    top: 70%;
    left: 43%;
}
#upload-button:hover {
    background-color: #0056b3;
}

