
#main_title {
        
        text-align: center; /* ממרכז את הטקסט */
        font-family: Arial, sans-serif;  
}

#sub_title {
    text-align: center; /* ממרכז את הטקסט */
    /* font-family: Georgia, sans-serif;   */
}
#upload-button {
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28164f;
    color: rgb(247, 197, 17);
    border: none;
    cursor: pointer;
    margin-top: 20px;
    position: absolute;
    top: 70%;
    left: 43%;
}
#upload-button:hover {
    background-color: #0056b3;
}

.sce_logo {
    opacity: 0.5;
    width: 100px;
    height: 50px; 
    /* position: absolute;
    top: 55px;
    display: block; 
    margin: 15px;   */
}

.museum_logo {
    opacity: 0.5;
    width: 80px; 
    height: 80px;
    /* position: absolute;
    top: 65px; */
}