.sce_logoo {
    opacity: 0.5;
    width: 100px;
    height: 50px; 
    /* position: absolute;
    top: 55px;
    display: block; 
    margin: 15px;   */
}

.museum_logoo {
    opacity: 0.5;
    width: 80px; 
    height: 80px;
    /* position: absolute;
    top: 65px; */
}
